<ion-content>
  <div id="header">
    <img src="assets/bannerlogo.png" alt="Logo">
    <h1>Restablecer contraseña</h1>
  </div>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <h4 *ngIf="errorMsg!=''" class="error-msg">{{errorMsg}}</h4>

    <ion-item>
      <ion-input placeholder="Ingrese la nueva contraseña" type="password" formControlName="newPassword1"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input type="Password" placeholder="Repita la nueva contraseña" formControlName="newPassword2"></ion-input>
    </ion-item>
    <br><br>
    <a href="/login">Iniciar sesión</a>
    <br><br>
    <ion-button type="submit" [disabled]="!resetForm.valid">Restablecer contraseña</ion-button>
  </form>
</ion-content>
<ion-footer>
  ¿Problemas con tu cuenta? Comunícate con nosotros
</ion-footer>
