ion-header img {
    width: 150px;
    padding: 5px;
}

ion-header {
    background-color: #012C56;
}

.welcome-msg {
    font-family: 'Montserrat', sans-serif;
    color: #012C56;
    font-size: large;
}